.pizza-filter {
    display: grid;
    grid-template: 
        "a a" auto
        "b c" 50%;
    grid-gap: 5px;
    max-height: 80vh;
    position: sticky;
    top: 10px;
}

.pizza-filter__ingredients {
    grid-area: a;
    display: grid;
    grid-template-rows: 15% 85%;
    position: relative;
}

.pizza-filter__blacklist {
    grid-area: b;
    display: grid;
    grid-template-rows: 15% 85%;
    position: relative;
}

.pizza-filter__whitelist {
    grid-area: c;
    display: grid;
    grid-template-rows: 15% 85%;
    position: relative;
}

.draggable-ingredient {
    margin: 5px;
    padding: 1px;
    border: 1px solid var(--color-black);
    border-radius: 7px;
    outline: 3px;
    position: relative;
    background-color: white;
    z-index: 3;
    cursor:grab;
    color: var(--color-gray)
}

.draggable-ingredients {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    align-items: flex-start;
    justify-self: stretch;
    position: relative;
    justify-content: start;
    align-content: start;
}

.draggable-blacklist {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    align-items: flex-start;
    justify-self: stretch;
    position: relative;
    justify-content: start;
    align-content: start;
}

.draggable-whitelist {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    align-items: flex-start;
    justify-self: stretch;
    position: relative;
    justify-content: start;
    align-content: start;
}

.draggable-ingredient--dragging {
    z-index: 9999;
    cursor: grabbing;
    visibility: visible;
}

.drop-ingredients {
    display: none;
    justify-self: stretch;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
}
.drop-blacklist {
    display: none;
    justify-self: stretch;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
}
.drop-whitelist {
    display: none;
    justify-self: stretch;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
}