@import 'variables.css';

body {
    margin: 0px 20px 0px 20px;
    min-height: 100vh;
    background-color: var(--color-pale);
}

.pizza-inator {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20vh auto;
}

.pizza-inator__header {
    min-height: 20vh;
    background-color: var(--color-cardinal);
    padding: 5px;
}

.pizza-inator__content {
    min-height: 80vh;
    background-color: var(--color-yellow);
    padding: 5px;
}

h1{
    font-size: 3em;
    margin: 0;
    color: white;
}

h2{
    font-size: 2em;
    color: white;
}

h3 {
    font-size: 1.2em;
}
